
# Python cache
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# Build artifacts
dist/
build/
*.dmg

# macOS
.DS_Store

# Agrandiz generated data
cache/
*.sqlite
*.db
thumbs/

*.app/

# Logs / temp
*.log
tmp/
